<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selector</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}">
</head>
<body>

<div class="container d-flex justify-content-center align-items-center" style="width: 100vw; height: 100vh;">
        <!-- Card externa -->
        <div class="card p-1 col-7 shadow">
            <h2 class="text-center">Selecciona un personaje:</h2>
            <!-- Contenedor para las internas -->
            <div class="d-flex justify-content-center">
                <div id="mariohuano" class="card col-5 d-flex align-items-center ">
                    <div style="height: 85%;" class="d-flex flex-column justify-content-center align-items-center">
                        <h3 class="text-center">Mariohuano</h3>
                        <img src="{% static 'game/img/mario.png' %}" alt="Mario" width="100">
                        <p>Con el poder de ciertas sustancias, Mariohuano puede desplazarse a una alta velocidad, solo no llames a las autoridades.</p>
                    </div>
                    <a href="/game/mario"><button class="btn btn-success">Elegir al Mariohuano</button></a>
                </div>
                <div id="bananza" class="card col-5 d-flex align-items-center">
                    <div style="height: 85%;" class="d-flex flex-column justify-content-center align-items-center">
                        <h3 class="text-center">Bananza</h3>
                        <img src="{% static 'game/img/bananza.png' %}" alt="Bananza" width="100">
                        <p>¡82 lukas por un juego! dios que horrible, bueno este mono le dura mas el efecto del hongo, algo es algo</p>
                    </div>
                    <a href="/game/bananza"><button class="btn btn-success">Elegir al Banazas</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>